{% extends 'base.html' %}

{% block title %}
Truck List
{% endblock %}
{% block content %}

<form method="POST" action="" class="search-bar">
    {% csrf_token %}
    <input type="text" name="search" maxlength="50" id="id_search" placeholder="Search Truck" class="id_search">
    <button type="submit" class="submit_search"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<h1>Truck List</h1>
<br>
<hr>
{% for truck in trucks%}
    <a href="{% url 'truck_info' truck.id %}" class="infolink"><p>{{truck.truck_number}} | {{truck.driver_assigned_to}}</p></a>
    <hr>
{% endfor %}
{% endblock %}