{% load static %}

<!DOCTYPE html>
<html lang="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h3>ZURI TRANSPORTATIONS LLC</h3>
        <i class="fa-solid fa-house-chimney"></i>
        <i class="fa-solid fa-id-card"></i>
        <i class="fa-solid fa-caravan"></i>
        <i class="fa-solid fa-truck-ramp-box"></i>
        <i class="fa-solid fa-truck"></i>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="big-li">
                <a href="{% url 'drivers' %}">Drivers List</a>
                <ul class="dropdown">
                    <li><a href="{% url 'add_driver' %}">Add Driver</a></li>
                    <li><a href="{% url 'delete_driver' %}">Delete Driver</a></li>
                </ul>
            </li>
            <li class="big-li">
                <a href="{% url 'trailors' %}">Trailors</a>
                <ul class="dropdown">
                    <li><a href="{% url 'add_trailor' %}">Add Trailor</a></li>
                    <li><a href="{% url 'delete_trailor' %}">Delete Trailor</a></li>
                </ul>
            </li>
            <li class="big-li">
                <a href="{% url 'loads' %}">Loads</a>
                <ul class="dropdown">
                    <li><a href="{% url 'add_load' %}">Add Load</a></li>
                    <li><a href="{% url 'delete_load' %}">Delete Load</a></li>
                </ul>
            </li>
            <li class="big-li">
                <a href="{% url 'trucks' %}">Trucks</a>
                <ul class="dropdown">
                    <li><a href="{% url 'add_truck' %}">Add Truck</a></li>
                    <li><a href="{% url 'delete_truck' %}">Delete Truck</a></li>
                </ul>
            </li>
            <li class="big-li" id="logout">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>