{% extends 'base.html' %}

{% block title %}
Load List
{% endblock %}
{% block content %}

<form method="POST" action="" class="search-bar">
    {% csrf_token %}
    <input type="text" name="search" maxlength="50" id="id_search" placeholder="Search Load" class="id_search">
    <button type="submit" class="submit_search"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<h1>Load List</h1>
<br>
<hr>
{% for load in loads%}
    <a href="{% url 'load_info' load.id %}" class="infolink"><p>{{load.load_number}} | {{load.driver_assigned_to}}</p></a>
    <hr>
{% endfor %}
{% endblock %}