{% extends 'base.html' %}

{% block title %}
Drivers List
{% endblock %}
{% block content %}

<form method="POST" action="" class="search-bar">
    {% csrf_token %}
    <input type="text" name="search" maxlength="50" id="id_search" placeholder="Search Driver" class="id_search">
    <button type="submit" class="submit_search"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<h1>Drivers List</h1>
<br>
<hr>
{% for driver in drivers%}
    <a href="{% url 'driver_info' driver.id %}" class="infolink"><p>{{driver.first_name}} | {{driver.email}}</p></a> 
    <hr>
{% endfor %}
{% endblock %}